[submodule "blink"]
	path = plugins/blink
	url = https://github.com/brianblakely/blink.git
	branch = master
[submodule "omacal"]
	path = plugins/omacal
	url = https://github.com/brianblakely/omacal.git
	branch = master
[submodule "omaled"]
	path = plugins/omaled
	url = https://github.com/brianblakely/omaled.git
	branch = master
[submodule "omanews"]
	path = plugins/omanews
	url = https://github.com/brianblakely/omanews.git
	branch = master
[submodule "omanote"]
	path = plugins/omanote
	url = https://github.com/brianblakely/omanote.git
	branch = master
[submodule "omasnap"]
	path = plugins/omasnap
	url = https://github.com/brianblakely/omasnap.git
	branch = master
[submodule "omastonk"]
	path = plugins/omastonk
	url = https://github.com/brianblakely/omastonk.git
	branch = master
[submodule "peek"]
	path = plugins/peek
	url = https://github.com/brianblakely/peek.git
	branch = master
[submodule "omahud"]
	path = plugins/omahud
	url = https://github.com/brianblakely/omahud.git
	branch = master
